@import url('/styles/variables.css');

.container {
    display: flex;
    justify-content: center;
}


.glass-container {
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 50px 100px;
    border-radius: 16px;
    z-index: 10;    
    border-radius: 24px;  
    background: linear-gradient(107deg, rgba(255, 255, 255, 0.05) 3.44%, rgba(255, 255, 255, 0.02) 64.82%);
    backdrop-filter: blur(15px);
  }

  .navbar {
    display: flex;
    justify-content: space-between;           
  }

  

  .nav-links {
   display: none;
  }

  .logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
  }

  p {
    color: #E5E7EB;
    font-family: var(--fonte);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   padding: 1rem 0rem;
  }



.link-portifolio {  
  margin: 15px 0px;
  width: 187px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background: #e5e7eb;
  cursor: pointer;
  transition: all 0.2s ease-in; 
  background: var(--bg-button);
  font-size: 16px;
  padding: 1rem;
}

.link-portifolio:hover {
  /* Animação de fundo */
  background: linear-gradient(90deg, #8b5cf6 0%, #ec4899 43.9%);

  /* Animação de escala */
  transform: scale(1.1);

  /* Animação de cor do texto */
  color: #fff;

  /* Animação de rotação
  transform: rotate(45deg); */
}

  a {
    font-family: var(--fonte);
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
    text-decoration: none;
    

    color: #FFF;
    font-family: var(--fonte);    

  }

  .image-wrapper {    
    max-width: 100%;
    margin-top: 3rem;
  }

  .imageFlying {    
    max-width: 100%;
    
  } 

  .bi {
    display: none;
  }  
  


  @keyframes flutuar {
    0%,
    100% {
      /* Define a posição inicial e final da animação */
      transform: translateY(0);
    }
    50% {
      /* Define a posição do meio da animação */
      transform: translateY(-20px);
    }

    
  }

  /*Desktop*/

  @media (min-width: 1440px) {
    .navbar {
      display: flex;          
      align-items: center;
      
    }
    
    .nav-links {
      display: flex;
      gap: 1rem;
      margin-left: 30px;
      font-size: 17px;
      font-weight: 400;
      list-style: none;
    }
    
    .bi {
      display: block;
      font-size: 1.5rem;
    }
    

    .content {
      display: flex;
      padding: 2rem 0rem;
      gap: 5rem;
      
    }

    .image-wrapper {    
       display: flex;
       margin-top: -5rem;      
       
    }

    
  .imageFlying {
    width: 467px;
    height: 467px;  

  }

   
  
    

      }
  

