@import url('/styles/variables.css');

.container {
    display: flex;
    justify-content: center;
}


.glass-container {
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 50px 100px;
    border-radius: 16px;
    z-index: 10;
  }

  a {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin-top: -10px;

    color: #FFF;
    font-family: var(--fonte);
    font-weight: 700;

  }
